

* {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
  font-family: "avenir", cursive, sans-serif;
  background-color: #666666;
}

.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
}


.box{
  width: 100%;
  overflow: none;
}


.content-name{
  overflow: none;
  text-align: center;
  border: 2px solid white;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 36px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{
  border: 5px solid white;
  width: 90%;
  height: auto;
  margin: 2.5%;
  font-size: 16px;
  padding: 2%;
  color: white;
  padding-top: 55px;
  background-color: rgba(0,0,0,0.3);
}

.content:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to left,#21d4fd, #b721ff);
}
.name1{
  color: white;
  background-image: linear-gradient(to right,#21d4fd, #b721ff);
}

.name2{
  color: white;
  background-image: linear-gradient(to right,#21d4fd, #b721ff);
}
.name3{
  color: white;
  background-image: linear-gradient(to right,#21d4fd, #b721ff);
}

@media (min-width: 992px) {
  .col4{
  	float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col6,.col12 {
    float: left;
  }
  .col6 {
    width: 50%;
  }
  .col12 {
    margin-left: 0px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col12 {
  	float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
